html {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}

#locations {
  width: 250px;
  height: 256px;
  padding: 10px;
  background: #ffffff;
  position: absolute;
  right: 0;
  border: 1px solid #cccccc;
}

.done {
  color: #a3eca3;
  text-decoration: line-through;
}
    
path {
  stroke: #fff;
  stroke-width: .5;
  stroke-dasharray: 1;
  fill: #afafaf;
}

#neighborhoodPopover { 
  position: absolute;     
  text-align: center;         
  padding: 2px;       
  font: 12px sans-serif;    
  background: #fff; 
  border: 0px;    
  border-radius: 8px;     
  pointer-events: none;
  opacity: 0;     
}