html {

}

#locations text {
  padding: 10px;
  border-radius: 4px;
  background: #f4f4f4;
}

#locations text.done {
  color: #3b903b;
  background: #c3f1c3;
}

.location{
  margin-bottom: 18px;
  width: 100%;
}
    
path {
  stroke: #fff;
  stroke-width: .5;
  stroke-dasharray: 1;
  fill: #afafaf;
}

#neighborhoodPopover { 
  position: absolute;     
  text-align: center;         
  padding: 2px;       
  font: 12px sans-serif;    
  background: #fff; 
  border: 0px;    
  border-radius: 8px;     
  pointer-events: none;
  opacity: 0;     
}